.footer {
  background-color: #333a4e;
  color: white;
  padding: 0 20px;
  margin-top:auto;
}

.footer-container {
  display: flex;
    justify-content: space-between;
   
  flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto;
    gap: 60px;
   justify-content: flex-start; 
   
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin: 10px;
  
}

.footer-logo {
 height: 50px;
  margin-bottom: 0px;
  background-color: #333a4e; /* match footer background */
  padding: 5px;
  border-radius: 5px;

 

}

.social-icons a {
  color: white;
  font-size: 20px;
  margin: 15px;
  border: 1px solid white;
  padding: 3px;
  border-radius: 50%;
  transition: 0.3s;
}

.social-icons a:hover {
  background-color: white;
  color: #333a4e;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 6px 0;
}

.footer-section ul li a {
  color: #ccc;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}
